.env
.git/
./.mypy_cache/
models/
plugins/
pilot/data
pilot/message
pilot/meta_data/alembic/versions
pilot/meta_data/dbgpt.db
logs/
venv/
.venv/
.venv.make/
web/node_modules/
web/.next/
web/.env
docs/node_modules/
build/
docs/build/
docs/Dockerfile-deploy