####################################################################################
##                       [DB-GPT-Bytebase-Plugin]                                ###
#####################################################################################
HOST_NAME={your-host-ip, to execute command operate}
HOST_USER=root
HOST_PASSWORD={your-host-password}
SSH_PORT=22

BYTE_BASE_COOKIE={your-bytebase-cookie}
BYTE_BASE_DOMAIN={your-bytebase-server-address}
BYTE_BASE_DEFAULT_DEV_INSTANCE=mysql_dev
BYTE_BASE_DEFAULT_TEST_INSTANCE=mysql_test
BYTE_BASE_DEFAULT_PROD_INSTANCE=mysql_prod
DEFAULT_PROJECT_NAME={your-default-project}
