.slide__container {
  width: 100%;
  align-content: center;
  justify-content: space-between;
  row-gap: 1rem;
  padding: 0 8rem;
  display: flex;
}

.slide {
  width: 100%;
  max-width: var(--ifm-container-width);
  margin: auto;
}

.slide {
  background-color: var(--ifm-color-emphasis-0);
}

@media (max-width: 996px) {
  .slide {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
@media (max-width: 720px) {
  .slide {
    background: none !important;
  }
}

.slide__section {
  max-width: 25rem;
  margin: 6rem 0;
}

.slide__header {
  font-size: 40px;
}

.slide__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.slide__description {
  /*height: 8rem;*/
}

.slide__button {
  flex: 1 1 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  max-width: 12rem;
}
