AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
PROXY_API_TYPE=
PROXY_SERVER_URL=
AZURE_API_VERSION=
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=
AZURE_OPENAI_EMBED_DEPLOYMENT_NAME=


#==========================zhipuai=================================#
CHATGLM4_API_KEY=""
CHATGLM4_API_URL=""
#==================================================================#
LLM_QA_TEMPRSTURE=0.1