.extra-container :global .ant-btn-primary {
  background-image: linear-gradient(to right, #00daef, #105eff);
  border: none;
  color: white;
}

/* 推荐问题 */
.recommend-questions-container :global .ant-form-item {
  margin: 0;
}
