.hover-underline-gradient {
  z-index: 1;
}
.hover-underline-gradient::after {
  content: '';
  display: block;
  width: 0; /* width is 0 before hover */
  height: 80%;
  background-image: linear-gradient(to right, theme('colors.gradientL'), theme('colors.gradientR')); /* gradient background */
  border-radius: 10px; /* full rounded corners */
  transition: width 0.3s ease-in-out; /* transition effect */
  position: absolute;
  bottom: -10px;
  z-index: -1;
  margin: 0 auto;
  /* clip-path: inset(50% 0 0 0); */
}

.hover-underline-gradient:hover::after {
  width: 90%; /* expand to 90% width on hover */
}
