autodoc_pydantic
myst_parser
nbsphinx
sphinx
recommonmark
sphinx_intl
sphinx-autobuild
sphinx_book_theme
sphinx_rtd_theme
sphinx-typlog-theme
sphinx-panels
toml
myst_nb
sphinx_copybutton
pydata-sphinx-theme
furo